@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #000; /* Default light background */
}

@layer base {
  /* Default light mode styles */
  body {
    @apply bg-white text-black;
  }

  /* Dark mode styles */
  .dark body {
    @apply bg-black text-white; /* Change background to black and text to white */
  }
}
